<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário - <%= username %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <a href="/">Back</a>
        <h1>User info</h1>
    </header>
    <main>
        <div class="user-info">
            <div class="basic-info">
                <img src="https://cdn.discordapp.com/avatars/<%= id %>/<%= avatar %>.png" alt="<%= username %>">
                <h2><%= username %>#<%= discriminator %></h2>
                <a href="/user/<%= id %>/json" class="json-button">
                    <img src="/icons/json.png" alt="JSON"> JSON
                </a>
            </div>
            <% Object.keys(userData).forEach(key => { %>
                <% if (['id', 'username', 'discriminator', 'avatar'].includes(key)) return; %>
                <div class="extra-info">
                    <strong><%= key.replace(/_/g, ' ').replace(/\b\w/g, char => char.toUpperCase()) %>:</strong>
                    <span><%= userData[key] %></span>
                </div>
            <% }); %>
        </div>
    </main>
</body>
</html>
